*
!.gitignore

!/README.md

!/.inputrc
!/.bash_profile
!/.bashrc
!/.vimrc

!/.config/
# peco
!/.config/peco/
!/.config/peco/config.json
# git
!/.config/git/
!/.config/git/config
# zsh
!/.zshenv
!/.config/zsh/
!/.config/zsh/.zprofile
!/.config/zsh/.zshrc
