*
!.gitignore

!/README.md

!/.inputrc
!/.bash_profile
!/.bashrc
!/.vimrc

!/.config/
!/.config/peco/
!/.config/peco/config.json
!/.config/git/
!/.config/git/config

# zsh
!/.zshenv
!/.config/zsh/
!/.config/zsh/.zprofile
!/.config/zsh/.zshrc
